.sidebar-container {
  display: flex;
  flex-direction: column;
  gap: 7rem;

  .logo-container {
    align-self: center;
    font-size: 2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
    align-items: center;

    .logo {
      font-size: 3rem;
    }
  }

  .nav-links-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 2.5rem;
    padding-left: 1.5rem;

    .no-decoration {
      text-decoration: none;
    }

    .login-button {
      border-radius: 1rem;
      margin-right: 1.5rem;
      text-align: center;
      border: 1px solid rgb(212, 211, 211);
      margin-top: 6rem;
      padding: 0 1rem;

      &:hover {
        box-shadow: 0 0 0.5rem 0.5rem rgba(221, 221, 221, 0.503);
      }
    }
  }
}
